* {
    padding: 0px;
    margin: 0px;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.hero-footer{
background-color: #1f2937;
}

.logo {
font-size: 28px;
color: #f9faf8;
}
.secondary{
    display: flex;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}
.hero-main{
    color: #f9faf8;
    font-size: 48px;
}
.button{
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    font-size: 22;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none;
}
.nav-bar{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
}
.alignX{
    padding-left: 200px;
}
.alignXend{
    padding-right: 200px;
}
.alignY{
    padding-top: 15px;
    padding-bottom: 95px;
}
.herobox{
    width: 410px;
}
.herofull{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imgsize{
    height: 280px;
    width: 420px;
}
.infobox{
    text-align: center;
}

.infotitle{
    color:#1f2937;
    font-size: 36px;
    font-weight: bolder;
}
.imgbox{
display: flex;
flex-direction: column;
width: 155px;
}
.imgsubtxt{
    color: #1f2937;
    font-size: 17px;
    text-align: center;
}
.imgwhite{
    border: 3px solid #3882f6;
    height: auto;
    width: 155px;
    border-radius: 10px;
}
.imgline{
    display: flex;
    justify-content: center;
    gap: 38px;
    align-items: flex-start;
}
.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.quotetxt{
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quotetxtbox{
    display: flex;
    flex-direction: column;
    width: 750px;
}
.quotename{
    color: black;
    font-size: 26px;
    font-weight: bolder;
    text-align: right;
    padding-right: 20px;
}
.callbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    padding-top: 60px;
    padding-bottom:60px;
    padding-right:90px;
    padding-left: 90px;
}
.calltxtbox{
    display: flex;
    flex-direction: column;
}
.calltitle{
    font-size: 30px;
}
.borderbox{
    border: 3px solid #ffffff;
}
.calltxt{
    font-size: 22px;
}
.footertxt{
color: #e5e7eb;
font-size: 18px;
}
.footeralign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}