* {
    padding: 0px;
    margin: 0px;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.hero-footer{
background-color: #1f2937;
}

.logo {
font-size: 28px;
color: #f9faf8;
}
.secondary{
    display: flex;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}
.hero-main{
    color: #f9faf8;
    font-size: 48px;
}
.button{
    background-color: #3882f6;
    border-radius: 10%;
    color: white;
    font-size: 22;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none;
}
.nav-bar{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
}
.alignX{
    padding-left: 200px;
}
.alignXend{
    padding-right: 200px;
}
.alignY{
    padding-top: 15px;
    padding-bottom: 55px;
}
.herobox{
    width: 410px;
}
.herofull{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imgsize{
    height: 280px;
    width: 420px;
}
.infobox{
    text-align: center;
}

.infotitle{
    color:#1f2937;
    font-size: 36px;
    font-weight: bolder;
}
.imgbox{

}